.header{
    padding: auto;
    display: flex;
    margin: 1rem;
    border-radius: 10px;
}

body{
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: -100;
    margin: -20px;
}
footer{
    background-color: blueviolet;
}
.goBack{
    border-radius: 8px;
    margin-left: auto;
}
.mat-card{
    margin: 20px;
}