<body>
    <div class="Container">
         <div class="inputSearch">
             <mat-form-field class="searchArtist" appearance="fill"> 
                 <input matInput type = "text " placeholder="Busca información acerca de tus artistas favoritos" [(ngModel)]  = "search" class="searchArtist">
             </mat-form-field>
             <mat-icon id="webInfo" style="cursor:pointer">help</mat-icon>
         </div> 
    </div>
    <button mat-button class="searchButtom" (click)= "searchArtist()">Buscar</button>   
</body>